**/*.aux
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.gls
**/*.bbl
**/*.blg
**/*.glo
**/*.ist
**/*.loe
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.lox
**/*.out
**/*.toc
**/*.synctex.gz
**/*.synctex(busy)
**/*.fdb_latexmk
**/*.fls
thesis.pdf
